# This file is part of DoJSON
# Copyright (C) 2015 CERN.
#
# DoJSON is free software; you can redistribute it and/or
# modify it under the terms of the Revised BSD License; see LICENSE
# file for more details.

include *.rst
include *.sh
include *.txt
include *.yml
include .coveragerc
include .dockerignore
include .travis.yml
include Dockerfile
include LICENSE
include pytest.ini
recursive-include cds_dojson *.json
recursive-include cds_dojson *.py
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include dojson *.json
recursive-include dojson *.py
recursive-include tests *.py
recursive-include tests *.xml
